<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>IOT-server</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://192.168.3.6:3000/socket.io/socket.io.js"></script>

</head>

<body>
    <style type="text/css">
        .sp-picker-container {
            width: 500px
        }

    </style>

    <div class="container" style="padding: 20px">
        <div style="display: flex; align-content: center; justify-content: center;">
            <div>
                <h2 style="font-weight: 900; text-align: center; margin: 0; margin-bottom: 20px">LED CONTROLL</h2>
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center;" id="control">
            <div style="align-self: flex-start;" class="checkAllGroup">
                <div>
                    <label>LED 1</label>
                    <input class="checkLed" value="1" data-width="50" data-height="30" type="checkbox" data-toggle="toggle">
                </div>
                <div>
                    <label>LED 2</label>
                    <input class="checkLed" value="2" data-width="50" data-height="30" type="checkbox" data-toggle="toggle">
                </div>
                <div>
                    <label>All LED</label>
                    <input class="checkAll" data-width="50" data-height="30" type="checkbox" data-toggle="toggle">
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var socket = io('192.168.3.6:3000');
    var listDevice = [];
    $.getJSON('http://192.168.3.6:3000/devices', function(data) {
        console.log(data);
        listDevice = data;
    });
    $('.checkLed').change(function(event) {
        var id = $(this).val();
        var data = $(this).prop('checked');
        listDevice.forEach(function(device) {
            if (device.id == id) {
                var json = "{'id':" + id + ",'name':'" + device.name + "','state':" + data + "}"
                socket.emit('led-change', json);
                console.log(json);
            }
        })

    });
    $(function check() {
        var leds = $(".checkLed");
        listDevice.forEach(function(device) {
            for (var i = 0; i < leds.length; i++) {
                var id = leds.eq(i).val();
                if (device.id == id) {
                    leds.eq(i).prop('checked', device.state);
                    var json = "{'id':" + id + ",'name':'" + device.name + "','state':" + leds.eq(i).prop('checked') + "}";
                    socket.emit('led-change', json);
                }
            }
        })
    });


    $('.checkAll').change(function(event) {
        var childs = $(this).parents(".checkAllGroup").find(".checkLed");
        var dataAll = $(this).prop('checked');
        listDevice.forEach(function(device) {
            for (var i = 0; i < childs.length; i++) {
                var id = childs.eq(i).val();
                if (device.id == id) {
                    childs.eq(i).prop('checked', dataAll);
                    var json = "{'id':" + id + ",'name':'" + device.name + "','state':" + dataAll + "}";
                    socket.emit('led-change', json);
                }
            }
        })
    });

</script>

</html>
